.arriva-week-flex {
  display: flex;
  padding: 0px 16px;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    padding: 0px 142px 0px 144px;
    margin-bottom: 100px;
  }
}

.arrival-title {
  @include font(17px, 27px, 700);
  @media screen and (min-width: 361px) {
    @include font(36px, 54px, 700);
  }

  color: $black;
  margin-bottom: 32px;
}

.arrival-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.arrival-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 384px;

  @media screen and (min-width: 1920px) {
    padding: 24px;
    margin-right: 16px;
    margin-bottom: 16px;
    flex-direction: row;
    align-items: center;
  }
}

.arrival-image {
  width: 107px;
  height: 107px;
  margin-right: 16px;
}

.arrival-name {
  @include font(22px, 36px);
  @media screen and (min-width: 361px) {
    @include font(36px, 54px, 500);
  }
  color: $black;
  margin-bottom: 8px;
  display: block;
}

.arrival-price {
  @include font(18px, 27px);
  @media screen and (min-width: 361px) {
    @include font(24px, 36px, 500);
  }
  color: $grey-text;
}

.view-all-link {
  @include font(18px, 27px, 500);
  color: $black;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all-icon {
  width: 31px;
  height: 32px;
}
