$white: #fff;
$black: #393d46;
$grey-text: #9f9f9f;
$background2: #f6f7fb;
$background: #cdcfd1;

$main-font: 'Poppins', sans-serif;
$hero-font: 'Playfair Display', serif;

// mixins
@mixin font($fs, $lh, $fw: 400) {
  font-style: normal;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}
